<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form action="/msg-form" method="POST">
        <label for="msg">Add a message: </label>
        <textarea name="msg" id="msg" placeholder="Type your message..." maxlength="280" required></textarea>
        
        <button type="submit">Send</button>
        [add char counter showing curr / 280]
        **BAN links**
    </form>
</body>
</html>