<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <!-- an extra special defense form to double check
     that the user is really the admin (enter the pass-code) -->
</body>
</html>